body {
    margin: 0;
}


/*header {
    width: 100%;
    position: fixed;
}*/

nav ul {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    height: inherit;
    margin-top: 0;
    display: flex;
    list-style: none;
    background-color: #303030;
}

nav a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Roboto medium", Verdana, sans-serif;
}

nav a:hover {
    background-color: #505050;
}


footer {
    box-shadow: 0 -6px 10px 0 rgba(0, 0, 0, 0.14), 0 -1px 18px 0 rgba(0, 0, 0, 0.12), 0 -3px 5px -1px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    padding: 1rem;
    background-color: #303030;
    color: #FFFFFF;
}

footer a {
    color: #FFFFFF;
}


h1, h2, h3 {
    text-align: center;
}

aside img {
    width: 50%;
    margin: auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

figcaption {
    margin: auto;
}

figure {
    display: flex;
    flex-direction: column;
}

/*Phone*/
main > section {
    display: flex;
    flex-direction: column;
}

main > section > article {
    display: flex;
    flex-direction: column;
}

article > img {
    width: 50%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    margin: auto;
}

.asides {
    display: flex;
    flex-direction: column;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.images img {
    width: 75%;
    margin: auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}


/*Tablet*/
@media (min-width: 601px) {
    main > section {
        display: flex;
        flex-direction: column;
    }

    main > section > article {
    }

    .asides {
        display: flex;
        flex-direction: column;
    }

    .images {
        display: flex;
        flex-wrap: nowrap;
    }

    .images img {
        width: 75%;
        margin: auto;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    }
}


/*PC*/
@media (min-width: 901px) {
    main > section {
        display: flex;
        flex-direction: row;
    }

    main > section > article {
        flex-grow: 2;
        flex-basis: 0;
    }

    article > img {
        width: 25%;
        margin: auto;
    }

    .asides {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
    }

    .images {
        display: flex;
        flex-wrap: nowrap;
    }

    .images img {
        width: 100%;
        margin: auto;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
    }
}